div.header {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
}

ul.menu {
  display: flex;
  position: absolute;

  justify-content: center;
  align-items: center;

  width: 100%;
  top: 0;
  left: 0;

  list-style: none;
}

.menuMobile {
  display: none;
}

.logo {
  position: fixed;
  top: 0;
  left: 0;
  margin: 1vh 2vh;
  width: 30vh;

  transition: 0.2s all;

  z-index: 999;
}

.logo img {
  transition: 0.2s all;
  cursor: pointer;
}

.logo img:hover {
  transform: scale(1.05);
  margin-left: 2.5vh;
}

.loginIcon {
  position: fixed;

  top: 0;
  margin: 30px 5%;
  right: 0;

  transition: 0.2s all;

  z-index: 999;
  align-self: flex-end;
}

.loginBox {
  position: absolute;
  background-color: #222;

  margin-top: 4vh;
  margin-left: -90px;

  width: 150px;

  padding: 2vh;
  z-index: 9999;
}

.loginBox button {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 1vh;
  margin-bottom: 1vh;
  border-radius: 5px;
  width: 100%;
  font-family: 'Poppins', sans-serif;

  cursor: pointer;
  transition: 0.2s all;
}

.loginBox button:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}

ul.menu li {
  background-color: white;
  color: black;

  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-size: 2.5vh;
  font-weight: 600;

  transform: skewX(-10deg);
  border-radius: 2px;

  padding: 0.5vh;
  margin-inline: 2vh;

  cursor: pointer;
  transition: 0.2s all;
}

ul.menu li:hover {
  color: orange;
}

ul.menu div.separator {
  height: 1px;
  width: 20px;
  background-color: white;
}

/* HAMBURGER AND MOBILE MENU */

.hamburgerLines {
  display: none;
}

@media screen and (max-width: 1000px) {
  .menuMobile {
    display: flex;
    flex-direction: column;
    position: fixed;

    background-color: rgb(14, 14, 14);
    box-shadow: 4px 4px 4px black;

    top: 0;
    width: 0vh;
    height: 100vh;
    right: 0;

    padding-top: 10vh;
    align-items: flex-start;

    z-index: 1000;
    transition: 0.5s all;
  }

  .menuMobile.active {
    width: 40%;
  }

  ul.menu {
    display: none;
  }

  .loginIcon {
    display: none;
  }

  .menuMobile div {
    display: flex;
    flex-direction: column;

    width: 100%;
  }

  .menuMobile ul {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;

    margin-left: -2vh;
    list-style: none;

    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .menuMobile .menuButton {
    border: 1px solid white;
    color: white;
    background: transparent;
    padding: 1vh;
    margin-bottom: 1vh;
    text-align: center;
  }

  .menuMobile button.menuButton {
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
  }

  .menuMobile .menuButton.blue {
    border: none;
    background-color: rgb(64, 120, 224);
  }

  .menuMobile .menuButton.purple {
    border: none;
    background-color: rgb(107, 64, 224);
  }

  .hamburgerLines {
    display: flex;
    flex-direction: column;
    height: 26px;
    width: 32px;
    position: fixed;
    top: 0;
    right: 0;
    margin: 3vh;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hamburgerLines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #ffffff;
  }
}
